# Database Configuration
MONGODB_URI=mongodb+srv://chiderachigbo15_db_user:cN5pwp0TeoagTj6g@cluster0.e6jcazx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET=change-me
JWT_EXPIRE=7d

# Server Configuration
PORT=5000
NODE_ENV=development
